/* Oxanium Font - Embedded for offline use */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Oxanium-400.woff2') format('woff2'),
       url('./Oxanium-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Oxanium-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Oxanium-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Oxanium-700.woff2') format('woff2');
}
